.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 0 20px;
  border: 1px dotted rgb(4, 5, 83);
  border-radius: 4px;
}

.errors {
  color: red;
}

.textArea {
  min-width: 80vw;
  min-height: 30vh;
  margin: 10px 5px;
  font-size: 16px;
  resize: none;
  background-color: rgb(245, 245, 245);
}

input,
textarea {
  border-radius: 4px;
  // background-color: lightgray;

  :focus {
    background-color: lightgreen;
    color: lime;
  }
}
