.wrapper {
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid gray;
  max-width: 80%;
  min-height: 74vh;
  border-radius: 10px;
  background-color: #ffffff;
}

.textWrapper {
  border-top: 2px dotted gray;
  border-bottom: 2px dotted gray;
  margin: 10px auto;
  min-width: 80%;
  min-height: 40vh;
  background-color: #ffffff;
  text-align: left;
  padding-top: 15px;
  padding-left: 15px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
